/* #app-box {
  margin: 0;
  z-index: 8;
}

.MuiBox-root css-2ff3po {
  background-color: yellow !important
 
}

body{background-color: yellow;} */

/* body {
  background-color: black;
} */

* {
  user-select: none;
}

/* importo fuentes localmente */

@font-face {
  font-family: "Cinzel";
  src: url(/src/components/assets/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "GreatVibes";
  src: url(/src/components/assets/fonts/GreatVibes-Regular.ttf);
}