/* importo fuentes localmente */

@font-face {
  font-family: "Cinzel";
  src: url(/src/components/assets/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "GreatVibes";
  src: url(/src/components/assets/fonts/GreatVibes-Regular.ttf);
}



/* * {
  user-select: none;
} */



body {
  margin: 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  background-image: url(/public/media/images/Global/background_App.jpg);
  background-size: cover;
}



